html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #FFFFFF;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.inputAlanlari{
    width: 95%;
    height: 30px;
    padding: 0px 10px;
}

.maviButon{
    height: 30px;
    border: 1px solid #0400ff;
    background: #0400e4;
    padding: 5px 30px;
    color: white;
}
.maviButon:hover{
    height: 30px;
    border: 1px solid #0400e4;
    background: #0400ff;
    padding: 5px 30px;
    color: black;
    cursor: pointer;
}

.sonucSayfalari a:link, .sonucSayfalari a:hover, .sonucSayfalari a:active, .sonucSayfalari a:visited{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.anaMenuler a:link, .anaMenuler a:hover, .anaMenuler a:active, .anaMenuler a:visited{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}