html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #FFFFFF;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.maviAlanMenusu a:link, .maviAlanMenusu a:hover, .maviAlanMenusu a:active, .maviAlanMenusu a:visited{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}

.anaMenu a:link, .anaMenu a:hover, .anaMenu a:active, .anaMenu a:visited{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    text-decoration: none;
}

.altMenu a:link, .altMenu a:hover, .altMenu a:active, .altMenu a:visited{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #646464;
    line-height: 1.5;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
}